    	
		<div class="hero-wrap hero-bread" style="background-image: url('/public/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/public/images/bg_1.JPG);">
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-5 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Albanian <br>Creations <br> <span> Shop</span></h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
							<p>All of these products are designed by albanians. Sara Shala, Rexhep Rexhepi, Orges Kokoshari and Laura Limani are very famous designers around the world and all of their products can be order here.
              </p>
              <h1 class="mb-0 bread">Sara Shala</h1>
              <p>Designed and handcrafted in New York City, Sara Shala Fine Jewelry is a combination of the feminine and luxurious vision of the Sara’s design work with the veteran craftsmanship of New York most trusted jewelry manufactures.

                  Influenced with a rich repertoire of travel experience, Sara still realized that she never had to leave New York City to be inspired by the diverse tapestry of culture and lifestyle. Through her own experience, she came to understand each day presented a variety of occasions for the modern woman and therefore a variety of looks. Whether attending a gala, having a business lunch, or running errands, she aspires to make elegant, stunning, yet transitional pieces that are adaptable to her own routine.</p>
              <h1 class="mb-0 bread">Rexhep Rexhepi - Akrivia</h1> 
              <p>We are AKRIVIA, a young watchmaking atelier based in Geneva, founded in 2012 by Rexhep Rexhepi. From small beginnings and creating new movements out of his apartment, Rexhep grew the company year by year into an internationally recognised brand with timepieces appreciated and owned by the world’s most discerning collectors.

                  There is more than one side to every person, so at AKRIVIA, we have more than one collection. Our main collection projects our youthful spirit, with strong case designs and ambitious complicated movements.
                  
                  Our founder’s collection, signed Rexhep Rexhepi, reflects our commitment to traditional technique and our love of neo-classical elegance.</p>
              <h1 class="mb-0 bread">Orges Kokoshari - Gheg & Tosk</h1>   
              <p>Gheg & Tosk jewelry and gift-shop is intended to promote the Albanian culture by creating artistic works that represent various key historical and cultural elements that Albanians share among them from the northern highlands of Gheg dialect to the southern lands of Tosk dialect. These elements stretch beyond the current Albanian state borders to Kosova, western Macedonia, Montenegro, southern Serbia, northern Greece and across the Adriatic sea to our Arberesh community in southern Italy. The items represented here are meant to share, inspire, unite and bring awareness of Albanian culture around the world. </p>
              <h1 class="mb-0 bread">Laura Imami</h1>
              <p>As head buyer for the ground-breaking boutique optician Schuller of St. Johns Wood, Laura forged a close working relationship with world-renowned eyewear designers – a relationship which has truly flourished in the last two decades. Both the designers and the clients alike became enthralled with Laura’s insight and expertise. They had recognised from early on that Laura’s design philosophy is flawless.</p>
            </div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/public/images/bg_6.jpg);">
    	<div class="container">
    		<div class="row justify-content-center py-5">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="10000">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="1000">0</strong>
		                <span>Partner</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Awards</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section bg-light ftco-services">
    	<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h1 class="big">Services</h1>
            <h2>We want you to express yourself</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-002-recommended"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Refund Policy</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-001-box"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Premium Packaging</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-003-medal"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Superior Quality</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
        </div>
    	</div>
    </section>
		  
