				<div class="hero-wrap hero-bread" style="background-image: url('/public/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Collection</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index">Home</a></span> <span>Product</span></p>
          </div>
        </div>
      </div>
    </div>
		
		<section class="ftco-section bg-light">
    	<div class="container-fluid">
    		<div class="row">
    				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid" src="/public/images/product-1.JPG" alt="Colorlib Template">
								<span class="status">Limited amount</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Skanderbeg Helmet</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€270.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="109"
    						data-item-name="Skanderbeg Helmet"
								data-item-price="270.00"
								data-item-width="18"
    						data-item-url="/"
								data-item-description="Available for everyone, our Skanderbeg helmet is an artistic replica representation of the original Skanderbeg's helmet preserved in Vienna, Kunsthistorisches Museum.This helmet has been reconstructed and adapted to be wearable by adults during any celebrations, festive events, family gatherings, cheering for our national teams, or merely an art adornment. Fabricated in plastic, cured in colors of gold, steel, and copper, it contains an adjustable velcro/cloth interior to comfort the head. The helmet has minor dents or marks to resemble a medieval helmet with minor paint imperfections."
								data-item-image="/public/images/product-1.JPG"
								data-item-max-quantity="10"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
                    </div>
                    					
					</div>
			</div>
		</div>
				</section>
    			
  

 