	
		<div class="hero-wrap js-fullheight" style="background-image: url('/public/images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-11 ftco-animate text-center">
						<br><br><br><br><br><br>
            <h2><span>Accessories make the difference</span></h2>
					</div>
          <div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-down"></span></div>
						</a>
					</div>
        </div>
      </div>
    </div>
    <div class="goto-here"></div>
    
    <section class="ftco-section ftco-product">
    	<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Summer Sale</h1>
            <h2 class="mb-4">Summer Sale</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="product-slider owl-carousel ftco-animate">
    					<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/public/images/product-8.PNG" alt="Colorlib Template">
		    					</a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Illyrian Queen Pendant</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
                          <p class="price"><span class="mr-2 price-dc">€125.00</span><span class="price-sale">€93.25</span></p>
			    						</div>
		    						</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/public/images/product-17.PNG" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Logo necklace with stones</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
                          <p class="price"><span class="mr-2 price-dc">€225.00</span><span class="price-sale">€168.75</span></p>
				    					</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/public/images/product-19.PNG" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Tourbillon régulateur</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
                          <p class="price"><span class="mr-2 price-dc">€120.00</span><span class="price-sale">€90.00</span></p>
				    					</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>	    				
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-product">
        <div class="container">
          <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
              <h1 class="big">New Arrivals</h1>
              <h2 class="mb-4">New Arrivals</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="product-slider owl-carousel ftco-animate">
                <div class="item">
                  <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="/public/images/product-1.jpg" alt="Colorlib Template">
                    </a>
                    <div class="text pt-3 px-3">
                      <h3><a href="#">Skanderbeg Helmet</a></h3>
                      <div class="d-flex">
                        <div class="pricing">
                          <p class="price"><span class="mr-2 price-dc">$270.00</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="/public/images/product-2.PNG" alt="Colorlib Template"></a>
                    <div class="text pt-3 px-3">
                      <h3><a href="#">Akrivia Watch</a></h3>
                      <div class="d-flex">
                        <div class="pricing">
                          <p class="price"><span>$150.00</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="/public/images/product-3.PNG" alt="Colorlib Template"></a>
                    <div class="text pt-3 px-3">
                      <h3><a href="#">Eyewear</a></h3>
                      <div class="d-flex">
                        <div class="pricing">
                          <p class="price"><span>$150.00</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="/public/images/product-4.PNG" alt="Colorlib Template"></a>
                    <div class="text pt-3 px-3">
                      <h3><a href="#">Tri-Color Bracelet</a></h3>
                      <div class="d-flex">
                        <div class="pricing">
                          <p class="price"><span>$190.00</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="product">
                    <a href="#" class="img-prod"><img src="/public/images/product-5.PNG" alt="Colorlib Template">
                    </a>
                    <div class="text pt-3 px-3">
                      <h3><a href="#">Dardanian Goddess Necklace</a></h3>
                      <div class="d-flex">
                        <div class="pricing">
                          <p class="price"><span class="mr-2 price-dc">$85.00</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="itefast-spire-12845.herokuapp.comm">
                  <div class="product">
                    <a href="#" class="img-prod"><img src="/public/images/product-6.PNG" alt="Colorlib Template"></a>
                    <div class="text pt-3 px-3">
                      <h3><a href="#">Illyrian Helmet Ring</a></h3>
                      <div class="d-flex">
                        <div class="pricing">
                          <p class="price"><span>$250.00</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
  