<html>
  <head>
    <title>Insert</title>
  </head>
<body>
<h1 id="id1">Insert products</h1>
<div class="korniza">
<form action="/inserto" method="post"><div class="tss">
Product Name: <input class="inputet" type="text" name="name1" required/><br><br>
Price: <input class="inputet" type="text" name="price1" required /><br><br>
Weight: <input class="inputet" type="number" name="weight1" required /><br><br>
Description: <input id="pershkrimi" class="inputet" type="text" name="description1" required /><br><br>
Category: <select class="inputet" name="category1" required>
    <option value="1">Jewelry</option>
    <option value="2">Watches</option>
    <option value="3">Glasses</option>
    <option value="4">Helmets</option>
  </select><br><br>
Subcategory: <select class="inputet" name="subcategory1" >
    <option value="1">Necklaces</option>
    <option value="2">Bracelets</option>
    <option value="3">Earrings</option>
    <option value="4">Rings</option>
    <option value="5">Watches</option>
    <option value="6">SunGlasses</option>
    <option value="7">Optical Glasses</option>
    <option value="8">Helmets</option>
    
  </select><br><br>
Photo: <input class="inputet" type="file" name="photo1" required /><br><br>

  <button id="butoni">Insert</button>
  </div>
</form>
</div>
</body>
</html>