
    	<div class="hero-wrap hero-bread" style="background-image: url('/public/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">All Products</h1>
          </div>
        </div>
      </div>
    </div>
		
		<section class="ftco-section bg-light">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-8.PNG" alt="Colorlib Template">
    						<span class="status">Summer Sale -25%</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Illyrian Queen Pendant</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€125.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="100"
    							data-item-name="Illyrian Queen Pendant"
    							data-item-price="125"
    							data-item-weight="20"
    							data-item-url="https://fast-spire-12845.herokuapp.com/product-single.html"
								data-item-description="The Illyrian Queen -Teuta, is among the most celebrated women in Albanian culture -heritage due to the fact that she was a brave woman with a strong personality - able to keep the Illyrian Kingdom under her control after the death of King Agron."
								data-item-image="/public/images/product-8.PNG"
								data-item-custom2-name="Select material"
								data-item-custom2-options="Silver Premium|14k Gold Plated|18k Gold Plated|14k Rose Gold Plated|18k Rose Gold Plated"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
    			</div>
    			<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-9.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Young Woman Wearing SunGlasses</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€120.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="101"
    							data-item-name="Sunglasses JASMINA"
								data-item-price="120.00"
								data-item-dimensions="56-17-145"
    							data-item-weight="20"
    							data-item-url="/"
								data-item-description="JASMINA is characterized by its generous structured square frame with rounded edges, giving an urban feel with a contemporary edge."
								data-item-image="/public/images/product-9.PNG"
								data-item-max-quantity="50"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-10.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Tourbillon régulateur</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€120.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="102"
    							data-item-name="Tourbillon régulateur Watch"
								data-item-price="120.00"
    							data-item-weight="20"
    							data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="Men Watch"
								data-item-image="/public/images/product-10.PNG"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
							<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-4.PNG" alt="Colorlib Template">
								<span class="status">New Arrival</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Tri-Color Bracelet</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€190.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="103"
    						data-item-name="Tri-Color Bracelet"
								data-item-price="190.00"
								data-item-diameter="64mm"
    						data-item-width="4.2mm"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="Rotating logo clip. Silver with 3 types of real gold plating"
								data-item-image="/public/images/product-4.PNG"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-11.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Logo Earrings</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€3,100.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="104"
    						data-item-name="Logo Earrings"
								data-item-price="3,100.00"
								data-item-width="7.6"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="260 diamonds are delicately set into fine 18K white gold using expert precision. The design exhibits Sara’s core value of premium craftsmanship with this signature piece in her collection. Wear to lunch for a dramatic and glamorous entrance or simply stand out at a gala."
								data-item-image="/public/images/product-11.PNG"
								data-item-max-quantity="80"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-12.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Albanian Pride</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€120.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="105"
    						data-item-name="Albanian Pride"
								data-item-price="120.00"
    						data-item-weight="20"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="Our Skanderbeg helmet is an artistic replica representation of the original Skanderbeg's helmet. Can be wearable by adults at any celebrations, festive events, family gatherings, cheering for our national teams, or merely an art adornment."
								data-item-image="/public/images/product-12.png"
								data-item-custom2-name="Select Material"
								data-item-custom2-options="14K Rose Gold|14K Gold|14K White Gold"
								data-item-custom3-name="Select Size"
								data-item-custom3-options="6|7|8|9"
								data-item-max-quantity="150"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-13.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">ANYLA LR21</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€140.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="106"
    						data-item-name="ANYLA LR21"
								data-item-price="140.00"
    						data-item-weight="20"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="ANYLA is a modern interpretation of a classic cats eye. Inspired by styles worn by Audrey Hepburn the frame sums up the gracefulness of the cats eye but still carries the bold look of Laura Imami styling."
								data-item-image="/public/images/product-13.PNG"
								data-item-dimensions="53-20-145"
								data-item-max-quantity="75"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-14.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
								<h3><a href="#">Bolo shield</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="mr-2 price-dc">€5,000.00</span><span class="price-sale">$3,500.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="107"
    						data-item-name="Bolo shield"
								data-item-price="5000.00"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="18k yellow gold snake chain with a citrine stone wrapped around with 18k yellow gold shield. The shield is adjustable so you can wear it multiple ways."
								data-item-image="/public/images/product-14.PNG"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
							<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-2.PNG" alt="Colorlib Template">
								<span class="status">New Arrival</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Akrivia Watch</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€150.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="108"
    						data-item-name="Akrivia Watch"
								data-item-price="150.00"
    						data-item-weight="20"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="Men Watch"
								data-item-image="/public/images/product-2.PNG"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
							<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-1.JPG" alt="Colorlib Template">
								<span class="status">Limited amount</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Skanderbeg Helmet</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€270.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="109"
    						data-item-name="Skanderbeg Helmet"
								data-item-price="270.00"
								data-item-width="18"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="Available for everyone, our Skanderbeg helmet is an artistic replica representation of the original Skanderbeg's helmet preserved in Vienna, Kunsthistorisches Museum.This helmet has been reconstructed and adapted to be wearable by adults during any celebrations, festive events, family gatherings, cheering for our national teams, or merely an art adornment. Fabricated in plastic, cured in colors of gold, steel, and copper, it contains an adjustable velcro/cloth interior to comfort the head. The helmet has minor dents or marks to resemble a medieval helmet with minor paint imperfections."
								data-item-image="/public/images/product-1.JPG"
								data-item-max-quantity="10"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-15.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Straight logo Earrings</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€210.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="110"
    						data-item-name="Straight logo Earrings"
								data-item-price="210.00"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="260 cubic zirconia stones total are set into silver and plated with white gold for more shine. The design exhibits Sara's core value of premium craftsmanship with this signature piece in her collection. "
								data-item-image="images/product-15.PNG"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-16.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Tourbillon Hour Minutes</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€360.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="111"
    						data-item-name="Tourbillon Hour Minutes"
								data-item-price="360.00"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="Men Watch"
								data-item-image="images/product-16.PNG"
								data-item-custom2-name="Select Color"
								data-item-custom2-options="Gold|Blue|Black"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
							<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-3.PNG" alt="Colorlib Template">
								<span class="status">New Arrival</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Eyewear</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€150.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="112"
    						data-item-name="Eyewear"
								data-item-price="150.00"
    						data-item-weight="20"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="Women SunGlasses"
								data-item-image="/public/images/product-3.PNG"
								data-item-custom2-name="Select Color"
								data-item-custom2-options="Black|Red|Purple"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
							<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-5.PNG" alt="Colorlib Template">
								<span class="status">New Arrival</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Dardanian Goddess Necklace</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€85.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="113"
    						data-item-name="Dardanian Goddess Necklace"
								data-item-price="85.00"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="The Dardanian Praying Goddess is one of those elements that predates history, yet the strong body language of the Goddess resembles the strong character on highland Albania and Kosova women in their determination, beauty and pride. "
								data-item-image="images/product-5.PNG"
								data-item-custom2-name="Select Color"
								data-item-custom2-options="Deep Red|Green|Turqoise"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
							<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-6.PNG" alt="Colorlib Template">
								<span class="status">New Arrival</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Illyrian Helmet Ring</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€250.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="114"
    						data-item-name="Illyrian Helmet Ring"
								data-item-price="250.00"
    						data-item-weight="20"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="This ring is based on the Illyrian helmet. The Illyrians were know as fierce warriors on land and excellent sailors at seas. The symbol of the ram (Dhija) demonstrates their strength and cultural beliefs."
								data-item-image="/public/images/product-6.PNG"
								data-item-custom2-name="Select Material"
								data-item-custom2-options="Premium Silver|14K Gold|14K Rose Gold|14K White Gold"
								data-item-custom3-name="Select size"
								data-item-custom3-options="13|12|11.5|11|10|9"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-17.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Logo necklace with stones</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€225.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="115"
    						data-item-name="Logo necklace with stones"
								data-item-price="225.00"
    						data-item-weight="20"
								data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-diameter="165mm"
								data-item-description="Logo choker with 5 pave element 40 stones to layer your existing jewels or wear it as a standalone. "
								data-item-image="/public/images/product-17.PNG"
								data-item-custom2-name="Select color"
								data-item-custom2-options="Silver|Rose Gold"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
							<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-7.png" alt="Colorlib Template">
								<span class="status">New Arrival</span>
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Gheg & Tosk Brand Bracelet </a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€120.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="116"
    						data-item-name="Gheg & Tosk Brand Bracelet "
								data-item-price="120.00"
    						data-item-weight="20"
								data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="We spend plenty of time and made countless drawings to create our Gheg & Tosk Logo & Trademark. We hope you love it as much as we do. This bracelet is made of black beads with a few extra decorative elements and a 14K Gold Plated Gheg & Tosk Brand Eagle. "
								data-item-image="/public/images/product-7.png"
								data-item-custom2-name="Select color"
								data-item-custom2-options="Black|White"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-20.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Royal Double-Headed Eagle Ring</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€275.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="117"
    						data-item-name="Royal Double-Headed Eagle Ring"
								data-item-price="275.00"
    						data-item-weight="20"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="The double-headed eagle is a very well-known symbol among European nations but Albanians have a unique and special connection to it. In the Albanian native language, they call themselves the son's of eagle, “Shqipetar.” "
								data-item-image="/public/images/product-20.PNG"
								data-item-custom2-name="Select Material"
								data-item-custom2-options="Polished Silver|Premium Silver|14K Gold|14K Rose Gold"
								data-item-custom3-name="Size"
								data-item-custom3-options="8|9"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-19.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Tourbillon régulateur</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€120.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="118"
    						data-item-name="Tourbillon régulateur Watch"
								data-item-price="79.99"
    						data-item-weight="20"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="Men Watch"
								data-item-image="/public/images/product-19.PNG"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/product-18.PNG" alt="Colorlib Template">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Optical glasses</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>€280.00</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="119"
    						data-item-name="Optical glasses"
								data-item-price="280.00"
    						data-item-weight="20"
    						data-item-url="https://fast-spire-12845.herokuapp.com"
								data-item-description="ANYLA is a modern interpretation of a classic cats eye. Inspired by styles worn by Audrey Hepburn the frame sums up the gracefulness of the cats eye but still carries the bold look of Laura Imami styling."
								data-item-image="/public/images/product-18.PNG"
								data-item-max-quantity="100"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					
					</div>
			</div>
		</div>
				</section>

				<script>
	fetch('/api/products/1')
		.then(function (response) {
			return response.json();
		})
		.then(function (product) {
			debugger
			var el = document.querySelector('.details_name');
			el.innerHTML = product.name;
		});
		


	fetch('/products', {
  method: 'POST', 
  body: JSON.stringify(data), 
  headers:{
    'Content-Type': 'application/json'
  }
}).then(res => res.json())
.then(response => console.log('Success:', JSON.stringify(response)))


/ Get product with id 2
fetch('/products/2')
  .then(response => response.json())
  .then(data => console.log(data))

fetch('/category/1')
  .then(response => response.json())
  .then(data => console.log(data))

fetch('/category', {
  headers: { "Content-Type": "application/json; charset=utf-8" },
  method: 'POST',
  body: JSON.stringify({
    catName: category.name
  })
})

fetch('/subcategory/1')
  .then(response => response.json())
  .then(data => console.log(data))

</script>
    	